Repository DJWOMS/GSpot, pull requests merged in 2023-06, with the labels that each got.

#272 Frontend | Refactoring features imports
  frontend/app/(main)/details/[id]/page.tsx
  frontend/components/Platform/Platform.module.css
  frontend/components/Platform/Platform.test.tsx
  frontend/components/Platform/Platform.tsx
  frontend/components/Platform/index.ts
  frontend/features/games/components/FilterGames/FilterGames.tsx
  frontend/features/games/components/GameCard/GameCard.tsx
  frontend/features/games/components/GameCard/GameCardBig.tsx
  frontend/features/games/components/Platform/index.ts
  frontend/features/games/components/Requirements/Requirement.tsx
  frontend/features/games/components/index.ts
  frontend/features/news/components/ArticleContent/ArticleContent.tsx
  frontend/features/news/components/Comments/Comments.tsx
  frontend/features/news/components/Comments/SingleComment.tsx
  frontend/features/news/components/LatestNews/LatestNews.tsx
  frontend/features/profile/components/CheckoutTable/CheckoutTable.tsx
  frontend/features/profile/components/PurchaseTable/PurchaseTable.tsx
  frontend/features/profile/types/index.ts
  package-lock.json
Labels: frontend

#259 Frontend | Filled a reusable form with data
  frontend/app/(main)/profile/settings/@password/page.tsx
  frontend/app/(main)/profile/settings/@profile/ProfileForm.tsx
  frontend/app/(main)/profile/settings/page.module.css
  frontend/components/Form/Form.module.css
  frontend/components/Form/Form.tsx
Labels: frontend

#296 Games | add uuid and migration for Offer
  backend/games/finance/migrations/0005_remove_historicaloffer_id_remove_offer_id_and_more.py
  backend/games/finance/models/offer.py
Labels: games

#298 Frontend | Replaced filter with a reusable form component
  frontend/components/Form/Form.tsx
  frontend/features/games/components/FilterGames/FilterGames.tsx
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Labels: frontend

#303 Frontend
  frontend/app/(main)/faq/page.module.css
  frontend/app/(main)/faq/page.tsx
  frontend/public/partners/about.jpg
  frontend/public/partners/activeden.png
  frontend/public/partners/audiojungle.png
  frontend/public/partners/codecanyon.png
  frontend/public/partners/docean.png
  frontend/public/partners/photodune.png
  frontend/public/partners/themeforest.png
Labels: frontend

#308 Frontend | Check age refactoring
  frontend/app/(main)/details/[id]/page.tsx
  frontend/features/profile/components/CheckAge/CheckAge.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#274 Games | handle errors
  backend/games/core/serializers.py
  backend/games/core/urls.py
  backend/games/finance/serializers.py
Labels: games

#304 Games | [ADD] base fixtures
  backend/games/fixtures/genre.json
  backend/games/fixtures/genre_product.json
  backend/games/fixtures/language.json
  backend/games/fixtures/offer.json
  backend/games/fixtures/price.json
  backend/games/fixtures/product.json
  backend/games/fixtures/product_language.json
  backend/games/fixtures/product_offer.json
  backend/games/fixtures/sub_genre.json
  backend/games/fixtures/subgenre_product.json
  backend/games/fixtures/system_requiremetns.json
Labels: games

#305 Games | [Fix] offer
  backend/games/core/serializers.py
  backend/games/finance/migrations/0001_initial.py
  backend/games/finance/migrations/0002_historicalschedulerprice_historicalsale_and_more.py
  backend/games/finance/migrations/0005_remove_historicaloffer_id_remove_offer_id_and_more.py
  backend/games/finance/models/offer.py
Labels: games

#178 Users | add redis in project
  backend/users/.env.prod
  backend/users/.env.tests
  backend/users/backend/config/settings/base.py
  backend/users/backend/config/settings/redis_config.py
  backend/users/backend/utils/db/__init__.py
  backend/users/backend/utils/db/redis_client.py
  backend/users/backend/utils/tests/__init__.py
  backend/users/backend/utils/tests/test_redis.py
  backend/users/docker-compose.override.yml
  backend/users/docker-compose.tests.yml
  backend/users/poetry.lock
  backend/users/pyproject.toml
Labels: users

#312 Frontend | Fix carousel image
  frontend/app/(main)/about/page.module.css
  frontend/app/(main)/about/page.tsx
  frontend/app/(main)/details/[id]/page.tsx
  frontend/features/games/mocks/games.ts
  frontend/features/games/types/games.ts
Labels: frontend

#327 Payments | Delete else
  backend/payments/apps/payment_accounts/views.py
Labels: payments

#319 Users | token for user fix
  backend/users/.env.prod
  backend/users/.env.tests
  backend/users/backend/base/exceptions.py
  backend/users/backend/common/services/jwt/authentication.py
  backend/users/backend/common/services/jwt/blacklist.py
  backend/users/backend/common/services/jwt/request.py
  backend/users/backend/common/services/jwt/token.py
  backend/users/backend/common/services/totp/totp.py
  backend/users/backend/common/services/users/__init__.py
  backend/users/backend/common/services/users/get_permissions.py
  backend/users/backend/common/tests/test_jwt.py
  backend/users/backend/common/tests/test_logout.py
  backend/users/backend/common/views/v1/logout_view.py
  backend/users/backend/config/settings/rabbitmq.py
  backend/users/backend/utils/broker/message.py
Labels: users

#250 Games | Endpoint save to Library
  backend/games/core/serializers.py
  backend/games/core/urls.py
  backend/games/core/views.py
Labels: games

#331 Frontend | add mocks route UserPublicPage
  frontend/app/mocks/profile/[id]/route.ts
  frontend/features/profile/mocks/index.ts
  frontend/features/profile/types/index.ts
Labels: frontend

#309 Payments | edited files names
  backend/payments/apps/external_payments/services/payment_serivces/yookassa_service.py
  backend/payments/config/settings/business_settings.py
  backend/payments/config/settings/celery.py
  backend/payments/config/settings/database.py
  backend/payments/config/settings/logger.py
Labels: payments

#326 FRONTEND | handling errors
  frontend/app/(main)/page.tsx
  frontend/lib/errorHandler.ts
  frontend/lib/fetchServerSide.ts
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#337 Users | fix docker
  backend/users/Dockerfile
  backend/users/backend/common/auth_backends.py
  backend/users/docker-compose.override.yml
  backend/users/pyproject.toml
Labels: users

#324 Frontend
  frontend/app/(main)/contacts/page.module.css
  frontend/app/(main)/contacts/page.tsx
  frontend/components/Form/Form.tsx
  frontend/features/games/components/FilterGames/FilterGames.tsx
Labels: frontend

#338 Users | docker fix
  backend/users/.env.prod
  backend/users/Dockerfile
  backend/users/backend/administrator/views/v1/company_view.py
  backend/users/backend/administrator/views/v1/customer_view.py
  backend/users/backend/administrator/views/v1/developer_view.py
  backend/users/backend/config/settings/base.py
  backend/users/docker-compose.override.yml
  backend/users/docker-compose.yml
  backend/users/poetry.lock
  backend/users/pyproject.toml
  backend/users/requirements.txt
Labels: users

#335 Payments | Added payout history view
  backend/payments/apps/base/serializer.py
  backend/payments/apps/payment_accounts/serializers.py
  backend/payments/apps/payment_accounts/urls.py
  backend/payments/apps/payment_accounts/views.py
Labels: payments

#339 Frontend | auth refactor
  frontend/app/(auth)/signin/page.module.css
  frontend/app/(auth)/signin/page.tsx
  frontend/app/(main)/layout.tsx
  frontend/components/Header/Header.tsx
Labels: frontend

#340 Payments | Add payout_day_of_month validation
  backend/payments/apps/payment_accounts/migrations/0002_alter_owner_payout_day_of_month.py
  backend/payments/apps/payment_accounts/models.py
Labels: payments
