Repository DJWOMS/GSpot, pull requests merged in 2023-07, with the labels that each got.

#341 Payments | Changed to viesets
  backend/payments/apps/external_payments/urls.py
  backend/payments/apps/external_payments/views.py
  backend/payments/apps/payment_accounts/urls.py
  backend/payments/apps/payment_accounts/views.py
Labels: payments

#358 Payments | Refactor serializers
  backend/payments/apps/base/fields.py
  backend/payments/apps/base/schemas.py
  backend/payments/apps/base/serializer.py
  backend/payments/apps/external_payments/schemas.py
  backend/payments/apps/external_payments/serializers.py
  backend/payments/apps/external_payments/services/payment_serivces/yookassa_service.py
  backend/payments/apps/payment_accounts/schemas.py
  backend/payments/apps/payment_accounts/serializers.py
Labels: payments

#344 Payments | Added celery task auto payout
  backend/payments/.env.example
  backend/payments/apps/payment_accounts/apps.py
  backend/payments/apps/payment_accounts/signals.py
  backend/payments/apps/payment_accounts/tasks.py
  backend/payments/config/celery.py
Labels: payments

#369 Payments | Del user and added balance refill history
  backend/payments/apps/payment_accounts/serializers.py
  backend/payments/apps/payment_accounts/urls.py
  backend/payments/apps/payment_accounts/views.py
Labels: payments

#371 Users | Features/ban refresh token
  backend/users/.flake8
  backend/users/backend/base/base_tests/test_base_get_jwt.py
  backend/users/backend/common/services/jwt/refresh_is_expired_token.py
  backend/users/backend/common/services/jwt/token.py
  backend/users/backend/common/urls.py
  backend/users/backend/common/views/v1/logout_view.py
  backend/users/backend/common/views/v1/token_refresh_view.py
  backend/users/poetry.lock
Labels: users

#362 Payments | PaymentCommission v2
  backend/payments/apps/base/fields.py
  backend/payments/apps/external_payments/apps.py
  backend/payments/apps/external_payments/migrations/0002_alter_paymentcommission_unique_together.py
  backend/payments/apps/external_payments/models.py
  backend/payments/apps/external_payments/signals.py
  backend/payments/apps/item_purchases/services/item_purchase_creator.py
  backend/payments/apps/payment_accounts/models.py
  backend/payments/apps/payment_accounts/services/payment_commission.py
  backend/payments/apps/payment_accounts/views.py
  backend/payments/config/settings/celery.py
Labels: payments

#370 Games | Fix models
  backend/games/core/serializers.py
  backend/games/reference/models/genres.py
Labels: games

#367 Users Edit rabbitmq
  backend/users/.env.prod
  backend/users/.env.tests
  backend/users/backend/administrator/migrations/0008_alter_companymoderate_action_and_more.py
  backend/users/backend/administrator/tests/test_employee.py
  backend/users/backend/base/base_tests/teardown_base_test.py
  backend/users/backend/base/base_tests/test_registrations.py
  backend/users/backend/base/base_tests/tests.py
  backend/users/backend/base/notify/__init__.py
  backend/users/backend/base/notify/base_notify.py
  backend/users/backend/base/tokens/totp.py
  backend/users/backend/common/migrations/0002_alter_contacttype_options_alter_country_id_and_more.py
  backend/users/backend/common/models.py
  backend/users/backend/common/services/notify/__init__.py
  backend/users/backend/common/services/notify/notify.py
  backend/users/backend/common/services/totp/totp.py
  backend/users/backend/common/tests/test_totp.py
  backend/users/backend/common/validators.py
  backend/users/backend/config/settings/base.py
  backend/users/backend/config/settings/rabbitmq.py
  backend/users/backend/customer/serializers/v1/friends_serializer.py
  backend/users/backend/customer/tests/test_friends.py
  backend/users/backend/customer/views/v1/customer_friend_view.py
  backend/users/backend/fixtures/__init__.py
  backend/users/backend/fixtures/message_and_notify.json
  backend/users/backend/utils/broker/message.py
  backend/users/backend/utils/tests/test_rabbitmq.py
Labels: users

#378 Users | hotfix common models
  backend/users/backend/common/migrations/0002_alter_contacttype_options_alter_country_id_and_more.py
  backend/users/backend/common/models.py
Labels: users

#379 Users | Create admin panel
  backend/users/backend/administrator/admin.py
  backend/users/backend/common/admin.py
  backend/users/backend/customer/admin.py
  backend/users/backend/developer/admin.py
  backend/users/backend/developer/models.py
Labels: users

#373 Payments | Fix bug balances
  backend/payments/apps/payment_accounts/views.py
Labels: payments

#381 Users - All test refactoring
  backend/users/.pre-commit-config.yaml
  backend/users/backend/administrator/tests/test_auth_view.py
  backend/users/backend/administrator/tests/test_company.py
  backend/users/backend/administrator/tests/test_customers.py
  backend/users/backend/administrator/tests/test_developers.py
  backend/users/backend/administrator/tests/test_employee.py
  backend/users/backend/administrator/tests/test_get_jwt.py
  backend/users/backend/administrator/tests/test_group_serializer.py
  backend/users/backend/administrator/tests/test_group_view.py
  backend/users/backend/administrator/tests/test_serializer.py
  backend/users/backend/administrator/tests/test_serializers.py
  backend/users/backend/administrator/tests/test_view.py
  backend/users/backend/administrator/tests/test_views.py
  backend/users/backend/administrator/tests/tests_change_account.py
  backend/users/backend/base/base_tests/__init__.py
  backend/users/backend/base/base_tests/change_account_info_tests_base.py
  backend/users/backend/base/base_tests/teardown_base_test.py
  backend/users/backend/base/base_tests/test_base_auth_serializer.py
  backend/users/backend/base/base_tests/test_base_get_jwt.py
  backend/users/backend/base/base_tests/test_group_serializers.py
  backend/users/backend/base/base_tests/test_group_views.py
  backend/users/backend/base/base_tests/test_permission_serializers.py
  backend/users/backend/base/base_tests/test_permission_views.py
  backend/users/backend/base/base_tests/test_registrations.py
  backend/users/backend/base/base_tests/tests.py
  backend/users/backend/common/services/jwt/users_payload.py
  backend/users/backend/common/services/totp/model_factory.py
  backend/users/backend/common/tests/test_change_password.py
  backend/users/backend/common/tests/test_contacttype.py
  backend/users/backend/common/tests/test_countries.py
  backend/users/backend/common/tests/test_jwt.py
  backend/users/backend/common/tests/test_logout.py
  backend/users/backend/common/tests/test_payload.py
  backend/users/backend/common/tests/test_permissions.py
  backend/users/backend/common/tests/test_totp.py
  backend/users/backend/common/tests/test_totp_view.py
  backend/users/backend/common/urls.py
  backend/users/backend/customer/tests/__init__.py
  backend/users/backend/customer/tests/customer_change_account_info_tests.py
  backend/users/backend/customer/tests/test_customer_auth.py
  backend/users/backend/customer/tests/test_friends.py
  backend/users/backend/customer/tests/test_get_jwt.py
  backend/users/backend/customer/tests/test_registration_view.py
  backend/users/backend/customer/tests/test_views.py
  backend/users/backend/customer/urls.py
  backend/users/backend/developer/tests/developer_change_account_info_tests.py
  backend/users/backend/developer/tests/test_auth_developer.py
  backend/users/backend/developer/tests/test_company_view.py
  backend/users/backend/developer/tests/test_employee_crud.py
  backend/users/backend/developer/tests/test_get_jwt.py
  backend/users/backend/developer/tests/test_grop_view.py
  backend/users/backend/developer/tests/test_group_serializers.py
  backend/users/backend/developer/tests/test_models.py
  backend/users/backend/developer/tests/test_registration_view.py
  backend/users/backend/developer/tests/test_serializer.py
  backend/users/backend/developer/tests/test_serializers.py
  backend/users/backend/developer/tests/test_veiw.py
  backend/users/backend/developer/tests/test_views.py
  backend/users/backend/utils/tests/test_rabbitmq.py
  backend/users/backend/utils/tests/test_redis.py
Labels: users

#387 Users | Move avatar in BaseAbstractUser
  backend/users/backend/administrator/migrations/0009_alter_admin_avatar_alter_companymoderate_action_and_more.py
  backend/users/backend/administrator/models.py
  backend/users/backend/base/models.py
  backend/users/backend/base/utils.py
  backend/users/backend/customer/migrations/0005_alter_customeruser_avatar.py
  backend/users/backend/customer/models.py
  backend/users/backend/developer/migrations/0007_alter_companyuser_avatar.py
  backend/users/backend/developer/models.py
  backend/users/requirements.txt
Labels: users

#376 Payments | Refactor payout
  backend/payments/apps/external_payments/schemas.py
  backend/payments/apps/external_payments/services/payment_serivces/yookassa_service.py
  backend/payments/apps/payment_accounts/serializers.py
  backend/payments/apps/payment_accounts/services/payout.py
  backend/payments/apps/payment_accounts/views.py
Labels: payments

#392 Payments | Fix bug in swagger payment_commision
  backend/payments/apps/payment_accounts/serializers.py
  backend/payments/apps/payment_accounts/views.py
Labels: payments

#384 Payments | Permissions with gspot-django-auth
  backend/payments/apps/external_payments/views.py
  backend/payments/apps/payment_accounts/views.py
  backend/payments/config/settings/__init__.py
  backend/payments/config/settings/auth.py
  backend/payments/config/settings/base.py
  backend/payments/requirements.txt
Labels: payments

#388 Users | Corrected requirements, updated README
  backend/users/Dockerfile
  backend/users/README.md
  backend/users/poetry.lock
  backend/users/pyproject.toml
Labels: users

#403 Games | Fix offer body Swagger
  backend/games/finance/views.py
Labels: games

#393 Games | Creating reviews
  backend/games/community/serializers.py
  backend/games/community/urls.py
  backend/games/community/views.py
Labels: games

#372 Games | Show pack games
  backend/games/core/serializers.py
  backend/games/finance/mixins.py
  backend/games/finance/serializers.py
Labels: games
